@tailwind base;
@tailwind components;
@tailwind utilities;


.animate-slide-slow {
  animation: slide 2s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(0%);
  }
}